NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/restaurant_db

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
ACCESS_TOKEN_EXPIRES_IN=7d
REFRESH_TOKEN_EXPIRES_IN=7d

RAZORPAY_KEY_ID=rzp_test_SmSTwiKHdNaqc8
RAZORPAY_KEY_SECRET=VouRJF13fZbFtDWycKxqRcll

FIREBASE_AUTH_ENABLED=true
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@example.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----\n"

CORS_ORIGINS=http://localhost:5173
REDIS_URL=redis://localhost:6379
